@import '../../styles/global.scss';

@include for-size(tablet-portrait) {
    #games_wrapper {
        justify-content: center;
    }
}

@include for-size(tablet-portrait) {
    #header_titles {
        flex-direction: column;
        align-items: flex-start;
    }

    #we_found_title {
        padding-bottom: 1rem;
    }
}