#controller {
    transition: all 1.6s ease;
}

.controller_animation {
    margin-left: -40rem !important;
}

.screenshots_animation_enabled {
    margin-left: 135rem !important;
    width: 100%;
    transition: all 1.6s ease;
}

.screenshots_animation_disabled {
    width: 100%;
    transition: all 1.6s ease;
}

.reviews_animation_disable {
    transition: all 1.6s ease;
    overflow: hidden;
    margin-top: 40rem;
}

.reviews_animation_enable {
    transition: all 1.6s ease;
    overflow: hidden;
    margin-top: 0rem;
}

.write_review_animation_enabled {
    transition: all 1.6s ease;
    overflow: hidden;
    margin-top: 0rem !important;
}

.write_review_animation_disabled {
    transition: all 1.6s ease;
    overflow: hidden;
    margin-top: -75rem !important;
}

@media (max-width: 1400px) { 
    .write_review_animation_enabled {
        transition: all 1.6s ease;
        overflow: hidden;
    }
    .write_review_animation_disabled {
        transition: all 1.6s ease;
        overflow: hidden;
    }
    .button_animation_enabled {
        margin-top: 5rem;
        transition: all ease 1s;
    }
    .button_animation_disabled {
        margin-top: 0rem;
        transition: all ease 1s;
    }
}